---
import Layout from "../layouts/Layout.astro";
import ChevronRigth from "../components/icons/ChevronRigth.astro"

const courses = [
    "Séptimo A", 
    "Séptimo B",
    "Octavo A",
    "Octavo B",
    "Primero Medio A",
    "Primero Medio B",
    "Primero Medio C",
    "Primero Medio D",
    "Segundo Medio A",
    "Segundo Medio B",
    "Segundo Medio C",
    "Segundo Medio D",
    "Tercero Medio A", 
    "Tercero Medio B",
    "Tercero Medio C",
    "Tercero Medio D",
    "Cuarto Medio A",
    "Cuarto Medio B",
    "Cuarto Medio C",
    "Cuarto Medio D",
    "Profesor", 
    "Personal del liceo",
]
---

<Layout title="Agrega tus datos y los de esa persona especial">
    <main class="flex flex-col w-96 justify-center items-center text-center px-0 py-20 space-y-14">
        <!-- Sección 1: Datos del remitente -->
        <section class="flex flex-col items-center justify-center space-y-10 text-balance w-full px-10">
            <div class="w-full flex flex-col justify-center items-start space-y-4">
                <h2 class="text-2xl font-semibold">Ingresa tus datos</h2>

                <div class="flex flex-col space-y-3 w-full">
                    <div class="flex flex-col justify-center items-start">
                        <label for="sender-name" class="text-left">Nombre (obligatorio)</label>
                        <input id="sender-name" type="text" class="border-2 border-gray-300 p-2 rounded-lg w-full focus:border-purple-800" placeholder="Ingresa tu nombre" required>
                        <div id="sender-name-lenght-warning" class="hidden text-xs w-full"></div>
                    </div>

                    <div class="flex flex-col justify-center items-start">
                        <label for="sender-lastname" class="text-left">Apellido (obligatorio)</label>
                        <input id="sender-lastname" type="text" class="border-2 border-gray-300 p-2 rounded-lg w-full focus:border-purple-800" placeholder="Ingresa tu apellido" required>
                        <div id="sender-lastname-lenght-warning" class="hidden text-xs w-full text-stone-300"></div>
                    </div>

                    <div class="flex flex-col justify-center items-start">
                        <label for="sender-nickname" class="text-left">Pseudónimo (opcional)</label>
                        <input id="sender-nickname" type="text" class="border-2 border-gray-300 p-2 rounded-lg w-full focus:border-purple-800" placeholder="Ingresa un pseudónimo (opcional)">
                        <div id="sender-nickname-lenght-warning" class="hidden text-xs w-full"></div>
                    </div>

                    <div class="flex flex-col justify-center items-start">
                        <label for="sender-course" class="text-left">Curso (obligatorio)</label>
                        <select name="sender-course" id="sender-course" class="border-2 border-gray-300 p-2 rounded-lg w-full focus:border-purple-800" required>
                            <!-- Placeholder -->
                            <option value="" disabled selected class="">Selecciona tu curso</option>
                            {   courses.map((course) => (
                                <option value={course}>{course}</option>
                            ))   }
                        </select>
                    </div>

                    <div class="flex items-center space-x-2">
                        <input id="send-anonymously" type="checkbox" class="h-4 w-4 accent-purple-800">
                        <label for="send-anonymously" class="">Enviar como anónimo</label>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sección 2: Datos del destinatario -->
        <section class="flex flex-col items-center justify-center space-y-10 text-balance w-full px-10">
            <div class="w-full flex flex-col justify-center items-start space-y-4">
                <h2 class="text-2xl font-semibold text-start">Datos de la persona a la que le envías</h2>

                <div class="flex flex-col space-y-3 w-full">
                    <div class="flex flex-col justify-center items-start">
                        <label for="receiver-name" class="text-left">Nombre (obligatorio)</label>
                        <input id="receiver-name" type="text" class="border-2 border-gray-300 p-2 rounded-lg w-full focus:border-purple-800" placeholder="Ingresa su nombre" required>
                        <div id="receiver-name-lenght-warning" class="hidden text-xs w-full"></div>
                    </div>

                    <div class="flex flex-col justify-center items-start">
                        <label for="receiver-lastname" class="text-left">Apellido (obligatorio)</label>
                        <input id="receiver-lastname" type="text" class="border-2 border-gray-300 p-2 rounded-lg w-full focus:border-purple-800" placeholder="Ingresa su apellido " required>
                        <div id="receiver-lastname-lenght-warning" class="hidden text-xs w-full"></div>
                    </div>

                    <div class="flex flex-col justify-center items-start">
                        <label for="receiver-nickname" class="text-left">Pseudónimo (opcional)</label>
                        <input id="receiver-nickname" type="text" class="border-2 border-gray-300 p-2 rounded-lg w-full focus:border-purple-800" placeholder="Ingresa su pseudónimo (opcional)">
                        <div id="receiver-nickname-lenght-warning" class="hidden text-xs w-full"></div>
                    </div>

                    <div class="flex flex-col justify-center items-start">
                        <label for="receiver-course" class="text-left">Curso (obligatorio)</label>
                        <select name="receiver-course" id="receiver-course" class="border-2 border-gray-300 p-2 rounded-lg w-full focus:border-purple-800" required>
                            <!-- Placeholder -->
                            <option value="" disabled selected class="">Selecciona su curso</option>
                            {   courses.map((course) => (
                                <option value={course}>{course}</option>
                            ))   }
                        </select>
                    </div>
                </div>
            </div>
        </section>

        <!-- Botón para continuar -->
        <button>
            <a href="/order"  id="continue-button" class="flex items-center justify-center py-3 px-5 bg-gradient-to-r from-purple-950 via-purple-900 to-purple-950/90 rounded-xl font-bold">Continuar<ChevronRigth class="size-6"/></a>
        </button>
    </main>
</Layout>

<script>
    import { formData, updateFormData } from "../stores/formStore"; 

    // Obtener los elementos
    const senderName = document.getElementById('sender-name') as HTMLInputElement;
    const senderLastname = document.getElementById('sender-lastname') as HTMLInputElement;
    const senderNickname = document.getElementById('sender-nickname') as HTMLInputElement;
    const senderCourse = document.getElementById('sender-course') as HTMLSelectElement;
    const receiverName = document.getElementById('receiver-name') as HTMLInputElement;
    const receiverLastname = document.getElementById('receiver-lastname') as HTMLInputElement;
    const receiverNickname = document.getElementById('receiver-nickname') as HTMLInputElement;
    const receiverCourse = document.getElementById('receiver-course') as HTMLSelectElement;
    const continueButton = document.getElementById('continue-button') as HTMLButtonElement;
    const senderAnonymous = document.getElementById('send-anonymously') as HTMLInputElement; // Cambié el ID aquí

    // Función para verificar si todos los campos obligatorios están llenos
    function checkFields() {
        if (
            senderName.value.trim() !== '' &&
            senderLastname.value.trim() !== '' &&
            senderCourse.value.trim() !== '' &&
            receiverName.value.trim() !== '' &&
            receiverLastname.value.trim() !== '' &&
            receiverCourse.value.trim() !== ''
        ) {
            continueButton.classList.remove('hidden');
        } else {
            continueButton.classList.add('hidden');
        }
    }

    function capitalizeFirstLetter(text: string) {
        return text.charAt(0).toUpperCase() + text.slice(1);
    }

    const currentForm = formData.get();

    if (currentForm?.sender) {
        senderName.value = currentForm?.sender?.name || "";
        senderLastname.value = currentForm?.sender?.lastname || "";
        senderNickname.value = currentForm?.sender?.nickname || "";
        senderCourse.value = currentForm?.sender?.course || "";
        senderAnonymous.checked = currentForm?.sender?.anonymous;
        senderName.classList.remove('hidden');
        senderLastname.classList.remove('hidden');
        senderCourse.classList.remove('hidden');
    }

    if (currentForm?.recipient) {
        receiverName.value = currentForm?.recipient?.name || "";
        receiverLastname.value = currentForm?.recipient?.lastname || "";
        receiverNickname.value = currentForm?.recipient?.nickname || "";
        receiverCourse.value = currentForm?.recipient?.course || "";
        receiverName.classList.remove('hidden');
        receiverLastname.classList.remove('hidden');
        receiverCourse.classList.remove('hidden');
    }

    const fieldsMaxLength = 20;

    function checkTextLength(inputElement: HTMLInputElement, warningElement: HTMLElement) {
        const currentLength = inputElement.value.length;
        const remainingChars = Math.max(0, fieldsMaxLength - currentLength);

        if (currentLength >= fieldsMaxLength - 12) {
            warningElement.classList.remove('hidden');
            warningElement.innerHTML = `<p class="text-end w-full text-stone-300">${remainingChars} caracteres restantes</p>`;
            
            if (currentLength > fieldsMaxLength) {
                inputElement.value = inputElement.value.substring(0, fieldsMaxLength);
            }
        } else {
            warningElement.classList.add('hidden');
        }
    }

    const senderNameWarning = document.getElementById('sender-name-lenght-warning') as HTMLElement;
    const senderLastnameWarning = document.getElementById('sender-lastname-lenght-warning') as HTMLElement;
    const senderNicknameWarning = document.getElementById('sender-nickname-lenght-warning') as HTMLElement;
    const receiverNameWarning = document.getElementById('receiver-name-lenght-warning') as HTMLElement;
    const receiverLastnameWarning = document.getElementById('receiver-lastname-lenght-warning') as HTMLElement;
    const receiverNicknameWarning = document.getElementById('receiver-nickname-lenght-warning') as HTMLElement;

    senderName.addEventListener('input', () => { 
        checkTextLength(senderName, senderNameWarning);
        checkFields();
    });

    senderLastname.addEventListener('input', () => { 
        checkTextLength(senderLastname, senderLastnameWarning);
        checkFields();
    });

    senderNickname.addEventListener('input', () => { 
        checkTextLength(senderNickname, senderNicknameWarning);
        checkFields();
    });

    senderCourse.addEventListener('input', checkFields);
    senderAnonymous.addEventListener('click', checkFields);

    receiverName.addEventListener('input', () => { 
        checkTextLength(receiverName, receiverNameWarning);
        checkFields();
    });

    receiverLastname.addEventListener('input', () => { 
        checkTextLength(receiverLastname, receiverLastnameWarning);
        checkFields();
    });

    receiverNickname.addEventListener('input', () => {
        checkTextLength(receiverNickname, receiverNicknameWarning);
        checkFields();
    });
    
    receiverCourse.addEventListener('input', checkFields);

    continueButton.addEventListener('click', () => {
        const newFormData = {
            sender: {
                name: capitalizeFirstLetter(senderName.value), 
                lastname: capitalizeFirstLetter(senderLastname.value),
                nickname: capitalizeFirstLetter(senderNickname.value),
                course: senderCourse.value,
                anonymous: senderAnonymous.checked
            },
            recipient: {
                name: capitalizeFirstLetter(receiverName.value),
                lastname: capitalizeFirstLetter(receiverLastname.value),
                nickname: capitalizeFirstLetter(receiverNickname.value),
                course: receiverCourse.value
            }
        };

        updateFormData(newFormData);
    });

    checkFields();
</script>
