---
import Layout from "../layouts/Layout.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Plus from "../components/icons/Plus.astro"
import Minus from "../components/icons/Minus.astro"

import { roses } from "../data/roses";
---

<Layout title="Elige tus rosas">
    <main class="flex flex-col w-full justify-center items-center text-center py-20 px-4 space-y-32">
        <SectionContainer>
            <h2 class="text-3xl font-semibold">Elige las rosas que quieres enviar a esa persona especial</h2>

            <div class="grid md:grid-cols-3 grid-cols-2 gap-x-4 gap-y-10 text-balance">
                {
                    roses.map(({ title, description, img }) => (
                        <div class="md:w-52 w-44 md:h-72 h-64 flex flex-col items-center justify-start space-y-2 text-pretty bg-black/40 rounded-xl">
                            <img src={img} alt={title} class="md:w-52 w-44 min-h-32 md:min-h-36 object-cover rounded-2xl"/>
                            <div class="flex flex-col justify-between h-full">
                                <div class="space-y-1">
                                    <p class="text-sm font-semibold">{title}</p>
                                    <p class="text-xs">{description}</p>
                                </div>

                                <!--Botones de aumentear y decrementar cantidad de rosas-->
                                <div class="flex flex-row items-center justify-center space-x-2 text-center pb-3">
                                    <button id=`btn-minus-${title}` class="bg-purple-600/30 rounded-md p-1"> <Minus  class="size-4 text-xl font-black"/> </button>
                                    <input type="text" placeholder="0" disabled id=`input-${title}` class="w-12 bg-black/70 px-4 rounded-lg text-center"/>
                                    <button id=`btn-plus-${title}` class="bg-purple-600/30 rounded-md p-1"> <Plus class="size-4 text-xl font-black"/> </button>
                                </div>
                            </div>
                        </div>
                    ))
                }
            </div>
        </SectionContainer>
    </main>
</Layout>

<script>
    import { roses } from "../data/roses";

    roses.forEach(({ title }) => {
        const btnPlus = document.getElementById(`btn-plus-${title}`) as HTMLButtonElement
        const btnMinus = document.getElementById(`btn-minus-${title}`) as HTMLButtonElement
        const input = document.getElementById(`input-${title}`) as HTMLInputElement
        let value: number = 0

        btnPlus.addEventListener("click", () => {
            value++
            input.value = value.toString()
        });

        btnMinus.addEventListener("click", () => {
            value--
            if (value < 0) value = 0
            input.value = value.toString()
        });
    })
</script>

